/* style.css */
.tor-details {
    float:right;
    padding:5px;
    width:300px;
    border:1px solid #eee;
    margin-top:20px;
}

.tor-details td,
.tor-details th {
    padding:8px;
}

.tor-details th {
    width:100px;
    text-align:right;
}

.tor-details th.header {
    background:#eee;
    text-align:center;
}

.tor-consultant-details span {
    display: block;
}

.ploneun-tor h3 {
    margin-top: 10px;
}

.ploneun-tor-rating b {
    display:block;
}

.not-consultant{
    margin-top:10px;
}

.consultant-name {
    font-weight:bold;
}

#ploneun-tor-consultant_tors {
    
    font-size: 80%;

}

#ploneun-tor-consultant_tors table{
    width: 100%;
}

#ploneun-tor-consultant_tors table tr{
    text-align: center;
}
.tor-ilo-themes-title {
    vertical-align: top;

}
.cpo-rpo-output {

    border-top: solid 1px rgb(238, 238, 238);
}
